
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #258ea6; */
  
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


h2 {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: Bookman, URW Bookman L, serif;

}

label {
  font-size: 0.8em;
  margin-bottom: 0.10em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid rgba(92, 7, 76, 0.904);
}

.errorMessage {
  color:  rgba(92, 7, 76, 0.904);
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.passwordConfirm,
.address,
.zipCode,
.userName{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}
.address,
.zipCode,
.userName,
.passwordConfirm,
.email,
.password{
  width: 100%;
}

.create {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create button {
  background-color: #9b358d;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.create button:hover {
  color: #9b358d;
  background-color: #fff;
  border: 2px solid #9b358d;
}

.create small {
  color: #999;
  font-weight: lighter;
}

#casino {
  background-image: url("../src/pexelsphoto.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z.index: -10;
}